header {
    background-color: $color-light;
    color: $color-darkish;
    button {
        background-color: $color-dark;
        color: white;
        border-style: none;
        border-radius: .5rem;
        font-weight: bold;
        padding: .1rem 1rem .1rem 1rem;
    }
}