//Controls the styling for nav links and pills
.nav-link.active {
    background-color: #ffffff !important;
    border: none;
    color: $color-darkish !important;
    border-radius: 0 !important;
}
.nav-pills {
    li {
        background-color: $color-grey !important;
        border: none;
        border-radius: 0 !important;
        width: calc(100%/3);
    }
}
.nav-link {
    color: $color-darkish;
}
//Styles the hero on the main page
.hero {
    height: 20rem;
    background: no-repeat center/cover url("../assets/photos/pexels-samer-daboul-8190433.jpg");
}
//Basic button styling
button {
    background-color: $color-main;
    color: $color-dark;
    border-style: none;
    border-radius: 1rem;
    padding: .1rem 1rem .1rem 1rem;
    max-height: 2.5rem;
}
//Styling for another specific button
.browseagents {
    background-color: $color-dark;
    color: white;
    border-style: none;
    border-radius: .5rem;
    font-weight: bold;
    padding: .1rem 1rem .1rem 1rem;
    max-height: 2.5rem;
}
//Basic form styling
form {
    background-color: #ffffff;
    max-width: 22rem;
    button {
        margin: auto;
    }
}
//Styling for items in a form
.formitem{ 
    max-width: 140px;
}
.fieldbox {
    color: $color-darkish;
}
//Styling for the portion of the page starting with "Find the best agents with ZipTrip"
.adcopy {
    background-color: #ffffff;
    color: $color-dark;
    max-width: 75%;
    article {
        width: 75%;
        max-width: 35rem;
    }
}
//Styling for the boxes the contains the agents' heads
.agentsbox {
    margin: 0rem 15rem 0rem 15rem;
}
//ditto
.headshot {
    height: 250px;
    width: 250px;
    min-width: 250px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5rem #000;
    &:nth-of-type(1) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-anna-shvets-3727461.jpg");
    }
    &:nth-of-type(2) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-andrea-piacquadio-842567.jpg");
    }
    &:nth-of-type(3) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-ivan-samkov-4458554.jpg");
    }
    &:nth-of-type(4) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-andrea-piacquadio-716411.jpg");
    }
    &:nth-of-type(5) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-syed-qaarif-andrabi-11065148.jpg");
    }
    &:nth-of-type(6) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-roman-odintsov-5667020.jpg");
    }
    &:nth-of-type(7) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-mentatdgt-1346184.jpg");
    }
    &:nth-of-type(8) {
        background: no-repeat center/cover url("../assets/photos/agents/pexels-linkedin-sales-navigator-2182970.jpg");
    }
}
//Styling for the ad at the bottom of the main page
.adhook {
    background-color: $color-main;
    color: $color-dark;
    max-width: 35rem;
}
.hookbutton {
    height: 15rem;
    max-width: 35rem;
    background: no-repeat center/cover url("../assets/photos/pexels-czapp-arpad-8743504.jpg");
}